@define-color nord0 #2e3440;
@define-color nord1 #3b4252;
@define-color nord2 #434c5e;
@define-color nord3 #4c566a;
@define-color nord4 #d8dee9;
@define-color nord5 #e5e9f0;
@define-color nord6 #eceff4;
@define-color nord7 #8fbcbb;
@define-color nord8 #88c0d0;
@define-color nord9 #81a1c1;
@define-color nord10 #5e81ac;
@define-color nord11 #bf616a;
@define-color nord12 #d08770;
@define-color nord13 #ebcb8b;
@define-color nord14 #a3be8c;
@define-color nord15 #b48ead;


* {
  border: none;
  border-radius: 0;
  font-family: Caskaydia Cove Nerd Font, NanumGothicCoding;
  font-size: 14px;
  margin: 0.5px;
  padding: 0.5px;
  background-color: transparent;
  transition: none;
}

.modules-left {
  padding: 0 8px;
  border-radius: 0 0 10px 0;
  background-color: @nord0;
  color: @nord4;
}

.modules-right {
  padding: 0 8px;
  border-radius: 0 0 0 10px;
  background-color: @nord0;
  color: @nord4;
}

.modules-center {
  padding: 0 8px;
  border-radius: 0 0 10px 10px;
  background-color: @nord4;
  color: @nord0;
}

#window {
  margin: 8px 0;
  font-weight: bold;
}

#workspaces {
  margin: 4px 0;
  border-radius: 26px;
}

#workspaces button {
  padding: 0 8px;
  color: @nord4;
}

#workspaces button.focused {
  color: @nord6;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  color: @nord5;
}

#workspaces button.urgent {
  color: @nord11;
}

tooltip {
  color: @nord4;
  background-color: @nord0;
  border-color: @nord1;
  border-radius: 0 0 10px 10px;
}

#mpris,
#backlight,
#battery,
#clock,
#cpu,
#custom-github,
#custom-uair,
#disk,
#idle_inhibitor,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#scratchpad,
#temperature,
#bluetooth,
#tray,
#wireplumber {
  margin: 4px;
  padding: 0 8px;
}
