* {
  border: none;
  border-radius: 0;
  font-family: Caskaydia Cove Nerd Font, NanumGothicCoding;
  font-size: 14px;
  margin: 0.5px;
  padding: 0.5px;
  background-color: transparent;
  transition: none;
}

.modules-left {
  padding: 0 8px;
  border-radius: 0 0 10px 0;
  background-color: @nord3;
  color: @nord4;
}

.modules-right {
  padding: 0 8px;
  border-radius: 0 0 0 10px;
  background-color: @nord3;
  color: @nord4;
}

.modules-center {
  padding: 0 8px;
  border-radius: 0 0 10px 10px;
  background-color: @nord4;
  color: @nord0;
}

#window {
  margin: 8px 0;
  font-weight: bold;
}

#workspaces {
  margin: 4px 0;
  border-radius: 26px;
}

#workspaces button {
  padding: 0 8px;
  color: @nord4;
}

#workspaces button.focused {
  color: @nord6;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  color: @nord5;
}

#workspaces button.urgent {
  color: @nord11;
}

tooltip {
  color: @nord4;
  background-color: @nord0;
  border-color: @nord1;
  border-radius: 0 0 10px 10px;
}

#mpris,
#backlight,
#battery,
#clock,
#cpu,
#custom-github,
#custom-uair,
#disk,
#idle_inhibitor,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#scratchpad,
#temperature,
#bluetooth,
#tray,
#wireplumber {
  margin: 4px;
  padding: 0 8px;
}
