/*
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
	border: none;
	border-radius: 0;
	font-family: Caskaydia Cove Nerd Font, NanumGothicCoding;
	font-size: 14px;
	min-height: 24px;
	padding: .5px;
	color: @text;
	background: @base;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	transition: none;
	font-weight: bold;
}

#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 8px;
	border-radius: 26px;
	transition: none;
}

#workspaces button {
	transition: none;
	margin-left: 5px;
	margin-right: 5px;
	color: @overlay0;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: @text;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: @subtext0;
}

#workspaces button.urgent {
	color: @red;
}

#mipris,
#backlight,
#battery,
#clock,
#cpu,
#custom-github,
#disk,
#idle_inhibitor,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#scratchpad,
#temperature,
#bluetooth,
#tray,
#wireplumber {
	margin-top: 8px;
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 8px;
}
